<div class="map-canvas" style="height: 250px; width: 100%;"></div>
<p class="text-right"><a href="https://www.google.com/maps/@{{latitude}},{{longitude}},15z/data={{data}}" target="_new">View on Google Maps</a></p>