
//===== Globals =====//
@import 'globals/colors';
@import 'globals/fonts';
@import 'globals/forms';
@import 'globals/tables';
@import 'globals/general';
@import 'globals/icons';

//===== Includes =====//
@import 'includes/mixins';
@import 'includes/extends';

//===== Components =====//
@import 'components/layout';
@import 'components/header';
@import 'components/nav';
@import 'components/footer';
@import 'components/map';

//===== Pages =====//

@import 'pages/home';
@import 'pages/register';
@import 'pages/raffle';
@import 'pages/schedule';
@import 'pages/participants';
@import 'pages/results';
@import 'pages/rules';
@import 'pages/location';
@import 'pages/contact';



body,html {
	font-family: 'Libre Baskerville', serif;
	font-size: 12pt;
	min-height: 100%;
	text-align: center;
}

html {
	@extend %inset-shadow;
}