
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK6Ucnt8gjcHpqyffjHeZWDA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK5Rby8KfwQsaipLBqMCVNtM.woff) format('woff');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(http://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5v6y7YSlLHrWsjpD3RcrnyFM.woff2) format('woff2'), url(http://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5vz8SLKRGgamuUl1hIefMyNI.woff) format('woff');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(http://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5eUHi-3yDrzgLLsrfaKVF9k.woff2) format('woff2'), url(http://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5dgliI79_bmRXH6crmREtCo.woff) format('woff');
}


@font-face {
    font-family: 'Growly Grin';
    src: url('/assets/fonts/growly-grin.eot');
    src: url('/assets/fonts/growly-grin.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/growly-grin.woff2') format('woff2'),
         url('/assets/fonts/growly-grin.woff') format('woff'),
         url('/assets/fonts/growly-grin.ttf') format('truetype'),
         url('/assets/fonts/growly-grin.svg#growly_grinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1,h2,h3,h4,h5 {
	font-weight: 700;
}

a,
.navbar-default .navbar-nav > li > a {
	@extend %transition-all;

	color: color(red-dark);
	text-decoration: none;

	&:hover,
	&:active {
		color: color(red-pure);
		text-decoration: none;
	}

	&:focus {
		color: color(red-dark);
		text-decoration: none;
	}
}

.orkfont {
	font-family: 'Growly Grin';
}