
$breakpoints: (
	'xs':	( max-width: 550px	),
	'sm':	( max-width: 750px	),
	'md':	( max-width: 970px	),
	'lg':	( max-width: 1170px	)
);

@mixin breakpoint($name) {

	@if map-has-key($breakpoints, $name) {
		@media #{inspect(map-get($breakpoints, $name))} {
			@content;
		}
	}
	@else {
		@warn "Couldn't find a breakpoint named `#{$name}`.";
	}

}