header {
	margin: 0 auto;
	color: color(black);

	.title,
	.logo,
	.number {
		display: inline-block;
	}

	.title {
		position: relative;
		font-family: 'Growly Grin';
		font-size: 130px;

		.dates {
			@include absolute(auto, 5%, 10%, auto);
			font-size: 14px;
		}

	}

	.logo {
		background-image: url('/assets/images/logo_color.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		height: 150px;
		width: 109px;

		margin-bottom: -32px;
	}

	.number {
		background-image: url('/assets/images/number.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		height: 110px;
		width: 121px;

		margin-bottom: -10px;
	}

}



@include breakpoint('lg') {
	header {

		.title {
			font-size: 102px;

			.date {
				font-size: 13px;
			}

		}

		.logo {
			height: 120px;
			width: 87px;
			margin-bottom: -30px;
		}

		.number {
			height: 90px;
			width: 99px;
			margin-bottom: -12px;
		}

	}
}



@include breakpoint('sm') {
	header {

		.title {
			font-size: 70px;

			.dates {
				bottom: 6%;
				font-size: 13px;
			}
		}

		.logo {
			height: 90px;
			width: 66px;
			margin-bottom: -25px;
		}

		.number {
			height: 70px;
			width: 77px;
		}

	}
}


@include breakpoint('xs') {
	header {

		.title {
			margin: 0.2em 0 -0.2em 0;
			display: block;

			.dates {
				top: 6%;
				right: 25%;
			}
		}

	}
}