header {
	margin: 0 auto;
	color: color(black);

	.title,
	.logo,
	.number {
		display: inline-block;
	}

	.title {
		font-family: 'Growly Grin';
		font-size: 130px;
		// text-align: center;

		// @include absolute(0,0,0,0);
	}

	.logo {
		background-image: url('/assets/images/logo_color.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		height: 150px;
		width: 109px;

		margin-bottom: -32px;
	}

	.number {
		background-image: url('/assets/images/number.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		height: 110px;
		width: 121px;

		margin-bottom: -10px;
	}

}



@include breakpoint('lg') {
	header {

		.title {
			font-size: 102px;
		}

		.logo {
			height: 120px;
			width: 87px;
			margin-bottom: -30px;
		}

		.number {
			height: 90px;
			width: 99px;
			margin-bottom: -12px;
		}

	}
}