
.wrapper {
	@extend %flexwrap;

	& > aside, & > section {
		padding: 10px 30px;
	}
	& > aside {
		flex: 1;
	}
	& > section {
		flex: 2;
	}
}


//===== Small Screens =====//
@include breakpoint('small') {

	.wrapper {

		& > section {
			flex: 1 100%;
			order: 1;
		}

		& > aside {
			flex: 1 auto;
			order: 2;
		}

	}

}