.contact {

	button {
		margin-top: 1em;
	}

	form {
		max-width: 500px;
		margin: 0 auto;
		text-align: left;
	}

	ul {

		max-width: 225px;
		margin: 2em auto 0;
		padding-left: 0;

		list-style-type: none;

		text-align: left;

		a {
			display: inline-block;
			position: relative;

			@include size(100%);
			line-height: 2em;

			padding-left: 3em;

			margin-bottom: 0.5em;

			&:hover {
				background-color: color(gray-lightest); //#fafafa;
			}

			&:before {
				@include absolute(auto, auto, auto, 0);
				margin: 0;

				border: 1px solid color(gray);
				@include size(2em);

				@extend %transition-background;

				color: initial;
			}

			&[class^="icon-"]:hover:before {
				color: color(white);
			}

			//===== Icon Background Hover Colors =====//
			&.icon-phone:hover:before {
				background-color: color(red);
			}
			&.icon-mail:hover:before {
				background-color: color(email);
			}
			&.icon-link:hover:before {
				background-color: color(pointhammered);
			}
			&.icon-twitter:hover:before {
				background-color: color(twitter);
			}
			&.icon-facebook:hover:before {
				background-color: color(facebook);
			}
			&.icon-gplus:hover:before {
				background-color: color(gplus);
			}

		}

	}

}