
.home {

	.news {

		h4 {}

		.date {
			text-align: left;
			font-weight: bold;
			font-size: 0.7em;
			margin-bottom: 1em;
		}

		.content {
			text-align: left;
			text-indent: 2em;
		}

	}

}