
<header class="container text-center orkfont">
	<div class="title">WaAagHpaca</div>
	<div class="logo"></div>
	<div class="number"></div>
</header>

<nav class="navbar navbar-default" role="navigation">

	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>{{#link-to 'updates'}}Home{{/link-to}}</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Event <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li>{{#link-to 'schedule'}}Schedule{{/link-to}}</li>
						<li>{{#link-to 'rules'}}Rules{{/link-to}}</li>
						<li>{{#link-to 'roster'}}Roster{{/link-to}}</li>
						<li role="presentation" class="divider"></li>
						<li>{{#link-to 'location'}}Location{{/link-to}}</li>
					</ul>
				</li>

				<li>{{#link-to 'giveaway'}}Giveaway{{/link-to}}</li>
				<li>{{#link-to 'register'}}Register{{/link-to}}</li>
				<li>{{#link-to 'results'}}Results{{/link-to}}</li>
			</ul>
		</div>

	</div>

</nav>

{{outlet}}

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 text-left">
				<ul>
					<li>201 Foxfire Drive</li>
					<li>Waupaca, WI</li>
				</ul>
			</div>

			<div class="col-xs-6 text-right">
				<ul>
					<li>{{#link-to 'location'}}Location{{/link-to}}</li>
					<li>{{#link-to 'register'}}Register{{/link-to}}</li>
					<li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
				</ul>
			</div>
		</div>
	</div>
</footer>