<div class="container home">
	<p class="lead">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt, lorem et tempus ultrices,
		neque eros finibus nisl, sed sollicitudin sem purus suscipit urna. Donec dignissim ligula a ipsum sodales
		interdum.
	</p>

	<div class="row">
		<div class="col-xs-12 col-sm-8 news">
			<h4>Latest News</h4>
			<div class="date">April 18th, 2015</div>
			<div class="content">
				<p>
					Nulla aliquet magna sed sapien sollicitudin aliquet. Etiam dapibus, nulla rutrum porttitor
					mattis, mauris velit tristique tortor, sit amet fermentum neque eros maximus dui. Sed vitae
					aliquet justo, imperdiet tristique ligula. Ut in faucibus nunc. Nam sed ullamcorper lectus,
					ut lacinia orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
				<p>
					Sed sodales felis eu tortor pulvinar auctor. Aenean vulputate erat arcu, id rutrum eros
					luctus sed. Etiam rutrum leo vel mi placerat dignissim in sit amet sem. Morbi cursus viverra
					nunc ac porta. Donec sit amet lectus eu nibh mattis tincidunt non vel tellus.
				</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<h4>Our Sponsors</h4>

			<a href="http://www.pointhammered.com">
				<img src="/assets/images/sponsors/pointhammered.jpg" alt="Pointhammered Podcast">
			</a>

		</div>
	</div>
</div>