<div class="container location">
	<h1>Location</h1>
	<p class="lead">
		Waaaghpaca is located in the city of Waupaca, in beautiful central Wisconsin. The tournament itself is hosted in the
		Waupaca Ale House, and accomodations are provided by the on-site Comfort Suites hotel.
	</p>

	<div class="row">
		<div class="col-xs-6">
			<h3>Waupaca Ale House</h3>
			<p class="text-left">
				The Waupaca Ale House houses a large, capeted ballroom,
				reasonably priced food, and a well-stocked sports bar
				with lounge area.
			</p>
		</div>
		<div class="col-xs-6">
			<h3>On-Site Hotel</h3>
			<p class="text-left">
				Comfort Suites is the on-site hotel of the tournament.
				As a player, you will receive a discount if you mention the
				Waupaca Warhammer tournament when you make reservations.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6 address">
			<a target="_new" href="http://www.waupacaalehouse.com/">Waupaca Ale House</a>
			<p>
				201 Foxfire Drive<br>
				Waupaca, WI 54981
			</p>
			<p>(715) 942-2424</p>

		</div>
		<div class="col-xs-6 address">
			<a target="_new" href="http://www.comfortsuites.com/hotel-waupaca-wisconsin-WI108">Comfort Suites Foxfire</a>
			<p>
				199 Foxfire Drive<br>
				Waupaca, WI 54981
			</p>
			<p>(715) 942-0500</p>
		</div>
	</div>

	{{google-map latitude="44.352015" longitude="-89.130518" title="Waupaca Ale House" data="!3m1!4b1!4m2!3m1!1s0x88010b07197acdd5:0x70a6c7d1521a4244"}}

	<h3>Other Nearby Hotels</h3>
	<p>
		Looking for something a little further from the tournament? Here are a few other hotels in the area.
	</p>

	<div class="row">
		<div class="col-xs-6 address">
			<a target="_new" href="http://book.bestwestern.com/">Best Western Grand Seasons</a>
			<p>
				110 Grand Seasons Drive<br>
				Waupaca, WI 54981
			</p>
			<p>(715) 258-9212</p>
		</div>
		<div class="col-xs-6 address">
			<a target="_new" href="http://villageinnwaupaca.com/">Village Inn Motel</a>
			<p>
				1060 Fulton Street<br>
				Waupaca, WI 54981
			</p>
			<p>(715) 258-8526</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			{{google-map latitude="44.3575" longitude="-89.118597" title="Best Western - Grand Seasons Hotel" data="!3m1!4b1!4m2!3m1!1s0x88010b1dfb284ec9:0x4c1c1516c50160b7"}}
		</div>
		<div class="col-xs-6">
			{{google-map latitude="44.357361" longitude="-89.110753" title="Village Inn Motel" data="!3m1!4b1!4m2!3m1!1s0x88010b208609e5cf:0x8068169cc39ccb81"}}
		</div>
	</div>
</div>