<div class="container raffle">
	<h2>Raffle</h2>
	<p class="lead">
		Each year, the <a href="http://pointhammered.com/">Point Hammered</a> boys hold a raffle to help
		cover the travel and lodging costs of one lucky winner and give them a guaranteed spot on the roster.
	</p>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h4>2015's Winners</h4>

			<div class="content">
				<p>
					Our winners for this year are <b>Justin Rusk</b> and <b>John Bailey</b>, who will each winner
					a share of the <b>$1322.33</b> prize.
				</p>

				<p>
					In addition, since <b>Justin</b> already had a spot in the tournament, <b>John</b> has also
					won the coveted 99th spot!
				</p>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<h4>How it Works</h4>

			<ol type="1">
				<li>Sign up for the raffle on this website</li>
				<li>Send in your raffle registration fee</li>
				<li>In <b>November</b>, the raffle winners will be announced</li>
			</ol>
		</div>
	</div>

	<div class="row closer">
		<div class="col-xs-12 col-sm-6 col-sm-push-3">
			<h4>Next Year</h4>

			<p>
				Registration for next year's raffle starts in <b>July</b>, so keep checking back here
				for the chance to enter and win.
			</p>
		</div>
	</div>

</div>