<div class="container register">
	<h2>Register</h2>

	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<p class="lead">Tournament and Event Registration opens November 1st. More details on that will be posted in October.</p>
		</div>

		<div class="col-xs-6">
			<h4>
				Why Register?
			</h4>
			<p>
				General Registration secures a spot for you that weekend, and allows you to register for the daylight
				tournaments and night time events once their rules and schedules are finalized.
			</p>
			<p>
				You may sign up for any number of people as long as the appropriate cash and information is included for each.
			</p>
			<p>
				General Registration is first come, first serve, and limited to 125 people.
			</p>
			<p>
				Players that have beenbanned in the past are welcome to attend. We’re restarting fresh this year.
			</p>
		</div>

		<div class="col-xs-6">
			<h4>
				To Register
			</h4>
			<p>
				To register, please <a href="https://www.paypal.com/myaccount/transfer/send/recipient" target="_new">PayPal $30 to waaaghpaca@gmail.com</a>.
			</p>
			<p>
				While sending, please include:
			</p>

			<ul>
				<li>The name (or nickname) you will be using for the weekend</li>
				<li>Your primary email address</li>
				<li>Secondary contact info (twitter handle, phone number, work or secondary email, etc.)</li>
			</ul>

			<p>
				Please send money using the friends and family option to avoid fees (we’re one big miniature gaming family aren’t we?)
			</p>
		</div>

	</div>

	<div class="row guests">
		<div class="col-xs-12">

			<h4>
				A Note on Guests
			</h4>

			<p>
				It is not uncommon for players to bring spouses, children, or friends to <span class="orkfont">WaAagHpaca</span>.
				You may continue to do so, but please let us know -- either in your registration info or through email prior to January 1st --
				so we can print a non-combatant badge for them.
			</p>
			<p>
				They will be free to hang out and join in the fun, but will not be able to game in the main hall or participate in any
				tournaments or events.
			</p>

		</div>
	</div>

</div>




