<div class="container register">
	<h2>Register</h2>

	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<p class="lead">Registration for the 2015 Waaaghpaca Tournament is closed.</p>

			<p>
				Registration for 2016's tournament will be handled a bit differently,
				so make sure to check back here in <b>July</b> for details.
			</p>
		</div>
	</div>

</div>