<div class="container register">
	<h2>Results</h2>

	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<p class="lead">These are the scores. Pick yearly or ironman.</p>
	</div>

	<div class="row">
		<div class="col-xs-6">Yearly</div>
		<div class="col-xs-6">Ironman</div>
	</div>

</div>