<div class="container roster">
	<h2>Roster</h2>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<p class="lead">
				The below list contains all players in the 2016 tournament. Visit the {{#link-to 'register'}}registration{{/link-to}}
				page to find out how you can be on it.
			</p>

			<p>
				Registration for 2016's tournament has not yet begun. Once it's prepared, we'll post it here.
			</p>
		</div>
	</div>
</div>