<div class="container rules">
	<h2>Rules</h2>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<p class="lead">
				You can't play if you don't know the ropes.
			</p>
			<p>
				In previous years, <span class="orkfont">WaAagHpaca</span> was a dedicated Warhammer
				tournament. Going forward in 2016, <span class="orkfont">'Paca</span> will be a celebration
				of the miniature gaming hobby as a whole!
			</p>
			<p>
				We're planning tournaments by day, Friday through Sunday (up to 12!) Big games, demos, and
				multiplayer type things by night, Thursday through Saturday.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<p>The following daylight tournaments are planned so far:</p>
			<ul>
				<li>Narrative Infinity Tournament</li>
				<li>Competative Infinity Tournament</li>
				<li>Narrative Saga Tournament</li>
				<li>Competative Saga Tournament</li>
				<li>Narrative Age of Sigmar Tournament</li>
			</ul>
			<p>The following night time events are planned so far:</p>
			<ul>
				<li><span class="orkfont">HiiiGH Way</span> to <span class="orkfont">WaAagH Halla</span>: Fury Road</li>
				<li><span class="orkfont">HiiiGH Way</span> to <span class="orkfont">WaAagH Halla</span>: Hard Day</li>
				<li>Infinity After Hours</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<p>
				This is just the start of what we're planning. We're looking for volunteers to run the
				tournaments or events for the games they want to see. Please contact
				<a href="mailto:waaaghpaca@gmail.com">waaapaca.gmail.com</a> for further details on the
				tables, terrain, rules, compensation, etc.
			</p>
			<p>
				Further descriptions of the events and rules will be posted in October.
			</p>
		</div>
	</div>

</div>