<div class="container schedule">
	<h2>Schedule</h2>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<p class="lead">
				The only way to win is to show up. Follow our schedule to make sure you do.
			</p>

			<p>
				The schedule for 2016's tournament is currently unavailable. It will be posted in July.
				Make sure to pay close attention to this page so you don't miss out!
			</p>
		</div>
	</div>

{{! -- Old Schedule outdated; commenting layout for future re-use
	<div class="row">
		<div class="col-xs-12">
			<h3>Important Dates</h3>

			<dl>
				<dt>October 31st, 2014</dt>
				<dd>
					Last day for registered players to cancel
					and still receive a half-refund.
				</dd>

				<dt>November, 2014</dt>
				<dd>
					Drawing for the <span class="orkfont">WaAagHpaca</span> Vacation winner.
				</dd>

				<dt>December 31st, 2014</dt>
				<dd>
					Last day to submit your Army List, Team, and Designation.
				</dd>

				<dt>January 23rd, 2015</dt>
				<dd>
					Tournament day!
				</dd>
			</dl>
		</div>

		<div class="col-xs-12">
			<h3 class="big-top">Tournament Schedule</h3>

			<h4>Friday, January 23rd</h4>

			<dl class="dl-horizontal">
				<dt>Noon</dt>
				<dd>The Great Hall Opens!</dd>

				<dt>Noon - 10:00pm</dt>
				<dd>Officially Unofficial 2,000 Point Friday Tournament</dd>

				<dt>10:00pm - 10:30pm</dt>
				<dd>Opening Ceremonies</dd>

				<dt>10:30pm - 2:00am</dt>
				<dd>Open gaming and Shenanigans</dd>
			</dl>

			<h4>Saturday, January 24th</h4>

			<dl class="dl-horizontal">
				<dt>9:15am - 9:30am</dt>
				<dd>Pre-tourney Pep-talk</dd>

				<dt>9:30am - 12:00pm</dt>
				<dd>Game 1</dd>

				<dt>12:00pm - 1:00pm</dt>
				<dd>Lunch</dd>

				<dt>1:00pm - 3:30pm</dt>
				<dd>Game 2</dd>

				<dt>3:30pm - 4:00pm</dt>
				<dd>Break & <b>Player's Choice</b> voting</dd>

				<dt>4:00pm - 6:30pm</dt>
				<dd>Dinner</dd>

				<dt>7:30pm - 8:30pm</dt>
				<dd><b>Top Ten Army</b> & <b>Best Man of Intrigue</b> voting</dd>

				<dt>8:30pm - 9:00pm</dt>
				<dd><b>Mustache Contest</b></dd>

				<dt>9:00pm - 2:00am</dt>
				<dd>Open Gaming & Tomfoolery</dd>
			</dl>

			<h4>Sunday, January 25th</h4>

			<dl class="dl-horizontal">
				<dt>9:30am - 12:00pm</dt>
				<dd>Game 4</dd>

				<dt>12:00pm - 1:00pm</dt>
				<dd>Lunch</dd>

				<dt>1:00pm - 3:30pm</dt>
				<dd>Game 5</dd>

				<dt>3:30pm - 4:00pm</dt>
				<dd>Giveawayapalooza</dd>

				<dt>4:00pm - 4:30pm</dt>
				<dd>Awards Ceremony</dd>
			</dl>

		</div>

	</div>
}}
</div>