
// Wrapper for flexbox elements
%flexwrap {
	display: -webkit-box;
	display: -moz-box;
	dispaly: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}